.MovieDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 85px;
}

.MovieDetails-image {
  width: 100%;
  max-width: 1725px;
  height: 61vh;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.movie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.MovieDetails-content {
  background-color: white;
  border-radius: 0 0 20px 20px;
  width: 100%;
  max-width: 1725px;
  text-align: center;
}

.movie-title {
  font-size: 2rem;
  font-weight: bold;
  color: #4b57a5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.3rem;
}

.genres {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

}

.genre-tag {
  background-color: #a1c6ea;
  color: black;
  font-weight: bold;
  padding: .8rem 1rem;
  border-radius: 10px;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.genre-tag:hover {
  transform: scale(1.1); 
}

.overview {
  font-size: 1.3rem;
  font-weight: 400;
  color: #333;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 4.5rem;
}