body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MoviesContainer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly; 
  gap: 20px; 
  padding: 20px;
}

.MoviesContainer div {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px; 
  width: 200px; 
  cursor: pointer;
}

.MoviesContainer div:hover {
  transform: scale(1.05); 
  background-color: #ffffff; 
}

.MoviesContainer img {
  width: 100%; 
  height: auto; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
}

.MoviesContainer p {
  margin: auto;
  background-color: white;
  color: black; 
  text-align: center; 
  font-size: 16px;
  font-weight: bold; 
}

.VoterBlock {
  display: flex;
}

.VoterBlock img {
  height: 20px;
} 

.VoterBlock img:hover {
  transform: scale(1.5); 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
